@import "../theme.scss";

.emqx-menu-item.el-menu-item {
  border-radius: 8px;

  &.is-active {
    color: #fff;
    background: $--color-primary;
    box-shadow: 5px 6px 12px 0 rgba($color: $--color-primary, $alpha: 0.52);
  }
}