.emqx-tags {
  display: block;
  width: 100%;

  .el-tag,
  .button-new-tag,
  .input-new-tag {
    vertical-align: top;
  }

  .el-tag+.el-tag {
    margin-left: 10px;
  }

  .el-tag {
    background-color: #f3f4f7;
    border-color: #f3f4f7;
    color: #4d4d4d;
    border-radius: 8px;
  }

  .button-new-tag {
    position: relative;
    z-index: 1;
    border-radius: 8px;
    font-weight: normal;
  }

  .input-new-tag {
    width: 90px;
    line-height: 1;
  }

  .new-tag-input-wrap {
    position: relative;
    display: inline-block;
    min-width: 120px;
    height: 32px;
    margin-left: 10px;
  }

  .tag-select {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    border-radius: 8px;

    &.select-hidden {
      width: 100px;
      opacity: 0;
    }

    .el-input__inner {
      border-radius: 8px;
    }

    .el-input__icon {
      display: none;
    }
  }
}

.popper-hidden {
  display: none;
}
