@media screen and (max-width: 2560px) {
  .emqx-container.is-normal,
  .emqx-header-container {
    max-width: 1600px;
  }
}

@media screen and (max-width: 1920px) {
  .emqx-container.is-normal,
  .emqx-header-container {
    max-width: 1440px;
  }
}

@media screen and (max-width: 1600px) {
  .emqx-container.is-normal,
  .emqx-header-container {
    max-width: 1300px;
  }
}

@media screen and (max-width: 1366px) {
  .emqx-container.is-normal,
  .emqx-header-container {
    max-width: 1152px;
  }
}

@media screen and (max-width: 1215px) {
  .emqx-container.is-normal,
  .emqx-header-container {
    max-width: 960px;
  }
}

@media screen and (max-width: 1023px) {
  .emqx-container.is-normal,
  .emqx-header-container {
    max-width: unset;
    width: 100%;
  }
}
