.el-message {
  border-radius: 8px !important;
}
.el-message--success {
  background: linear-gradient(133deg, #E1F4EE 0%, #DEF0F1 100%) !important;
  border: none !important;
  .el-message__content,
  .el-icon-success {
    color: #00B173 !important;
  }
}
.el-message--error {
  background: linear-gradient(133deg, #F9E5EB 0%, #FCE2DC 100%) !important;
  border: none !important;
  .el-message__content,
  .el-icon-error {
    color: #F16538 !important;
  }
}
.el-message--warning {
  background: linear-gradient(133deg, #FDF2E2 0%, #FAECD9 100%);
  border: none !important;
  .el-message__content,
  .el-icon-warning {
    color: #EC8E18 !important;
  }
}

@media screen and (max-width: 2560px) {
  .emqx-container.is-normal,
  .emqx-header-container {
    max-width: 1600px;
  }
}

@media screen and (max-width: 1920px) {
  .emqx-container.is-normal,
  .emqx-header-container {
    max-width: 1440px;
  }
}

@media screen and (max-width: 1600px) {
  .emqx-container.is-normal,
  .emqx-header-container {
    max-width: 1300px;
  }
}

@media screen and (max-width: 1366px) {
  .emqx-container.is-normal,
  .emqx-header-container {
    max-width: 1152px;
  }
}

@media screen and (max-width: 1215px) {
  .emqx-container.is-normal,
  .emqx-header-container {
    max-width: 960px;
  }
}

@media screen and (max-width: 1023px) {
  .emqx-container.is-normal,
  .emqx-header-container {
    max-width: unset;
    width: 100%;
  }
}
