.emqx-form-item {
  &.with-operation {
    .el-form-item__label {
      width: 100%;
      padding-right: 0;
      text-align: left;

      &::after {
        content: '';
        display: block;
        clear: both;
      }
    }

    .float-right {
      float: right;
      position: relative;
      z-index: 1;
    }
  }
}
