.emqx-header {
  width: 100%;
  height: 60px;

  .emqx-header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}
