@import "../theme.scss";

.emqx-pagination {
  &.el-pagination.is-background {

    .btn-prev,
    .btn-next {
      min-width: inherit;
      background-color: transparent;

      span {
        min-width: 8px;
      }
    }

    .el-pager li {
      color: #96999c;
      background-color: #f3f4f7;

      &:not(.disabled).active {
        color: $--color-primary;
        background-color: #f3f4f7;
      }
    }
  }
}
